:root {
    --smoothed-signal: #e64747;
    --spike-removed-signal: #62b5d9;
    --smoothed-signal: #9f76ba;
    --normalized-signal: #6c4e7f;
    --ecg: #d09191;
    --ecg-narrowfilt: #b0b0b0;
    --ecg-cleaned: #a34e4e;
    --ecg-smoothed: #92a7c8;
    --ecg-normalized-smoothed: #6d82a4;
    --depth: #a2bae0;
    --Corrected-Depth: #476390;
    --Accelerometer-X: #6CA1C3;
    --Accelerometer-Y: #99d8b5;
    --Accelerometer-Z: #e4d596;
    --Gyroscope-X: #6ca1c3;
    --Gyroscope-Y: #99d8b5;
    --Gyroscope-Z: #e4d596;
    --Magnetometer-X: #6ca1c3;
    --Magnetometer-Y: #99d8b5;
    --Magnetometer-Z: #e4d596;
    --Filtered-Heartbeats: #e8d6d6;
    --Exhalation-Breath: #6ca1c3;
    --field-intensity-acc: #88ba92;
    --field-intensity-mag: #b884a7;
    --inclination-angle: #d99e9d;
    --field-intensity-acc2: #957684;
    --field-intensity-mag2: #fc9e6d;
    --inclination-angle2: #d6e1ff;
    --Corrected-Accelerometer-X: #6CA1C3;
    --Corrected-Accelerometer-Y: #99d8b5;
    --Corrected-Accelerometer-Z: #e4d596;
    --Corrected-Magnetometer-X: #6ca1c3;
    --Corrected-Magnetometer-Y: #99d8b5;
    --Corrected-Magnetometer-Z: #e4d596;
    --Pitch: #e6aa5c;
    --Roll: #94b6c3;
    --Heading: #6f5398;
    --odba: #87c577;
    --hr: #9aad81;
    --pitch: #dfbec5;
    --roll: #7fabfd;
    --heading: #e2c1db;
}